

.SignUpBanner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url('../../assets/signupBanner.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}



.signup-box{
  position: absolute;
  width: 39vw;
  height: 60vh;
  margin-top: 6rem;
  margin-left: 6rem;
  border-radius: 200px;
}